* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .tela {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .esquerda {
    width: 590px;
    height: 500px;
  }
  .professor{
    width: 100%;
    height: 100%;
    margin-left: 50px;
  }
  .tela_menor {
    margin-left: 150px;
    width: 30%;
    height: 60%;
    border-radius: 15%;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 30px 1px rgba(153,202,251,1);
  }
  #botaoIniciar{
    width: 130px;
    height: 30px;
  }
  p {
    font: normal 20px Arial;
  }
  .p_resposta{
    font: normal 15px Arial;
  }
  h1 {
    font: normal 35px Kanit;
  }
  @media screen and (max-width: 794px){
    .tela {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .professor {
    width: 80%;
    height: 50%;
    }
    .esquerda {
      width: 100vw;
      height: 100%;
    }
    .tela_menor {
      margin: 0;
      width: 88%;
      height: 95vw;
      border-radius: 15%;
      background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 2px 3px 30px 1px rgba(153,202,251,1);
      margin-bottom: 30px;
  }
  }
  